<div id="mobile-wrapper" class="sb-hidden-md sb-hidden-lg">
    <div class="sb-bloc">
        <div id="container_324253_inner" class="sb-bloc-inner container_324253_inner">

            <div class="header-mobile sb-row">
                <button class="menu-mobile-button menu-mobile-button-open"><i class="fa fa-bars"></i></button>
                <div class="header-mobile-texts pull-left">
                    <div class="header-mobile-title sb-row">
                        <div id="container_324250" class=" sb-bloc sb-bloc-level-3 header1-title bloc-element-title  " style="padding: 10px 10px 10px 10px;"><div class="element element-title theme-skin"><strong><span class="element-title-inner">Fatima BENAZZOUZ</span></strong></div></div>
                    </div>
                    <div class="header-mobile-subtitle sb-row">
                        <div id="container_324251" class=" sb-bloc sb-bloc-level-3 header1-subtitle bloc-element-title  " style="padding: 10px 10px 10px 10px;">
                            <div class="element element-title sb-vi-text-center theme-skin">
                                <strong><span class="element-title-inner">Praticienne de santé Naturopathe à Groslay dans le 95</span></strong></div></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="header-mobile-phone element-link">
                    <a class="sb-vi-btn skin_2 sb-vi-btn-lg sb-vi-btn-block" href="tel:0652069382">
                        <span><i class="fa fa-phone fa-fw"></i> Appeler</span>
                    </a>        </div>
            </div>
            <div class="menu-mobile">
                <button class="menu-mobile-button menu-mobile-button-close animated slideInRight"><i class="fa fa-times"></i></button>
                <ul class="mobile-menu-tabs">
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element active content-link content-link-anchor" href="/#body-container">
                            <span class="link-label">Bienvenue</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="{{ path('who_are_we') }}">
                            <span class="link-label">Qui suis-je ?</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/la-naturopathie">
                            <span class="link-label">La Naturopathie</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/quantum2">
                            <span class="link-label">Quantum</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/la-consultation">
                            <span class="link-label">La consultation</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/partenaires">
                            <span class="link-label">Partenaires</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/livre-d-or">
                            <span class="link-label">Livre d&#39;or</span>
                        </a>  </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="/contact">
                            <span class="link-label">Contact</span>
                        </a>  </li>
                    <li class="menu-mobile-element menu-mobile-element-with-subfolder">
                        <div class="menu-tab-element element element-folder">
                            <button class="folder-label-opener">
        <span class="open-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
      <style type="text/css">.st0{fill:none;stroke:#000000;stroke-width:30;stroke-miterlimit:10;}</style>
      <g><line class="st0" x1="-1" y1="249.5" x2="500" y2="249.5"/></g>
      <g><line class="st0" x1="249.5" y1="0" x2="249.5" y2="499"/></g>
    </svg></span>
                                <span class="close-icon" style="display: none;"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                     viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
      <style type="text/css">.st0{fill:none;stroke:#000000;stroke-width:30;stroke-miterlimit:10;}</style>
      <g><line class="st0" x1="-1" y1="249.5" x2="500" y2="249.5"/></g>
    </svg></span>
                            </button>
                            <span class="link-label">Blog</span>
                        </div>
                        <ul class="mobile-menu-tabs">
                            <li class="menu-mobile-element ">
                                <a class="menu-tab-element  content-link" href="/blog">
                                    <span class="link-label">Actualité Cabinet</span>
                                </a>  </li>
                            <li class="menu-mobile-element ">
                                <a class="menu-tab-element  content-link" href="/blog/categories/alimentation">
                                    <span class="link-label">Alimentation</span>
                                </a>  </li>
                            <li class="menu-mobile-element ">
                                <a class="menu-tab-element  content-link" href="/blog/categories/recettes-de-cuisine">
                                    <span class="link-label">Recettes</span>
                                </a>  </li>
                            <li class="menu-mobile-element ">
                                <a class="menu-tab-element  content-link" href="/blog/categories/outils">
                                    <span class="link-label">Outils</span>
                                </a>  </li>
                            <li class="menu-mobile-element ">
                                <a class="menu-tab-element  content-link" href="/blog/categories/huiles-essentielles">
                                    <span class="link-label">Huiles essentielles</span>
                                </a>  </li>
                        </ul>
                    </li>
                    <li class="menu-mobile-element ">
                        <a class="menu-tab-element  content-link" href="">
                            <span class="link-label">Lien</span>
                        </a>  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sb-container-fluid" id="body-container-inner">

    <div class="container-light" id="header1"><div class="sb-row sb-hidden-xs sb-hidden-sm"><div class="sb-col sb-col-sm"><div id="container_324253" class=" sb-bloc sb-bloc-level-3 resizable-y bloc-element-absolute-container  " style="height: 110px;"><div id="container_324253_inner" style="" class="sb-bloc-inner container_324253_inner"><div class="element element-absolute-container"><div class="tree-container"><div id="container_324250" class="sb-bloc-alignment-wrapper  sb-bloc-alignment-h-v sb-bloc-alignment-h-center sb-bloc-alignment-v-top  "><div class="sb-bloc-alignment-sibling"></div><div class=" sb-bloc sb-bloc-level-3 sb-bloc-position-absolute header1-title bloc-element-title" style="top: 35.0%;left: 35.0%;"><div id="container_324250_inner" style="margin: 10px 10px 10px 10px;" class="sb-bloc-inner container_324250_inner"><div class="element element-title theme-skin"><strong><span class="element-title-inner">Fatima BENAZZOUZ</span></strong></div></div></div></div><div id="container_324251" class="sb-bloc-alignment-wrapper  sb-bloc-alignment-h sb-bloc-alignment-h-center  "><div class=" sb-bloc sb-bloc-level-3 sb-bloc-position-absolute header1-subtitle bloc-element-title" style="top: 50.0%;left: 0.0%;"><div id="container_324251_inner" style="margin: 10px 10px 10px 10px;" class="sb-bloc-inner container_324251_inner"><div class="element element-title sb-vi-text-center theme-skin"><strong><span class="element-title-inner">Praticienne de santé Naturopathe à Groslay dans le 95</span></strong></div></div></div></div></div></div></div></div>
            </div></div></div><div class="sb-hidden-xs sb-hidden-sm" id="menu"><div class="sb-row sb-hidden-xs sb-hidden-sm"><div class="sb-col sb-col-sm"><div id="container_324247" class=" sb-bloc sb-bloc-level-3 bloc-element-menu  " style=""><div class="element element-menu"><div class=""><div class="menu-level-container menu-level-0">
                                <ul class="menu-tabs sb-row media-query">
                                    <li class="menu-tab-container sb-col  {{ app.request.attributes.get('_route') == 'home' ? 'selected' }} ">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link content-link-anchor" href="{{ path('home') }}">
                                                <span class="link-label" style=''>Bienvenue</span>
                                            </a>      </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'who_are_we' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="/qui-suis-je">
                                                <span class="link-label" style=''>Qui suis-je ?</span>
                                            </a>      </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'show_article' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <div class="menu-tab-element element element-folder link-text link-text-dark">
                                                <span class="link-label">
                                                    Mes pratiques
                                                    <i class="fa fa-caret-right fa-fw"></i>
                                                    <i class="fa fa-caret-down fa-fw"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="menu-level-container menu-level-1">
                                            <ul class="menu-tabs sb-row media-query">
                                               {{ render(controller('App\\Controller\\PratiqueController::index', {'id': article.id|default(null)})) }}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-tab-container sb-col  {{ app.request.attributes.get('_route') == 'prestation' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('prestation') }}">
                                                <span class="link-label">Mes Prestations</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'tarif' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('tarif') }}">
                                                <span class="link-label" style=''>Tarifs</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="menu-tab-container sb-col">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" target="_blank" href="https://www.facebook.com/watch/?v=2015289398714972">
                                                <span class="link-label" style=''>Media</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'partenaire' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('partenaire') }}">
                                                <span class="link-label" style=''>Partenaires</span>
                                            </a>      </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'livre_or_index' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('livre_or_index') }}">
                                                <span class="link-label" style=''>Livre d&#39;or</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') == 'contact' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('contact') }}">
                                                <span class="link-label" style=''>Contact</span>
                                            </a>      </div>
                                    </li>
                                    <li class="menu-tab-container sb-col {{ app.request.attributes.get('_route') starts with 'blog_' ? 'selected' }}">
                                        <div class="menu-tab">
                                            <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('blog_index') }}">
                                                <span class="link-label" style=''>Blog</span>
                                            </a>
                                        </div>
                                    </li>
                                    {% if app.user and app.user.admin %}
                                        <li class="menu-tab-container sb-col ">
                                            <div class="menu-tab">
                                                <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('admin') }}">
                                                    <span class="link-label" style=''>Admin</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if not app.user %}
                                        <li class="menu-tab-container sb-col ">
                                            <div class="menu-tab">
                                                <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('app_login') }}">
                                                    <span class="link-label" style=''>Login</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="menu-tab-container sb-col ">
                                            <div class="menu-tab">
                                                <a class="menu-tab-element link-text link-text-dark content-link" href="{{ path('app_logout') }}">
                                                    <span class="link-label" style=''>Logout</span>
                                                </a>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



