{% extends 'home/home.html.twig' %}

{% block title %}Blog Fatima{% endblock %}

{% block body %}
    <div class="container-light sb-row sb-row-table sb-row-custom media-query" id="center">
        <div class="sb-col sb-col-sm" id="center_inner_wrapper">
            <div class="" id="h1">
                <div class="sb-bloc ">
                    <div class="sb-bloc-inner">
                        <h1>Blog</h1>
                    </div>
                </div>
            </div>
            <div class="" id="blog-wrapper">
                <section id="center_inner">
                    <div class="sb-row media-query">
                        {% for article in articles %}
                            <div class="sb-col sb-col-md-12">
                                <article class="blog-article minified horizontal">
                                    <div class="sb-row media-query with-padding">
                                        <div class="sb-col sb-col-md-4">
                                            <div class="blog-article-cover" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                                                {% if article.image %}
                                                    <meta itemprop="url" content="{{ vich_uploader_asset(article.image, 'imageFile') }}">
                                                {% endif %}

                                                <a title="Les Céréales" href="/blog/articles/les-cereales">
                                                    {% if article.image %}
                                                    <div class="cover" style="background-image: url({{ vich_uploader_asset(article.image, 'imageFile') }})"></div>
                                                    {% endif %}
                                                </a>
                                                <meta itemprop="width" content="3000">
                                                <meta itemprop="height" content="3000">
                                            </div>
                                        </div>
                                        <div class="sb-col sb-col-md-8">
                                            <div class="blog-article-head">
                                                <h2 itemprop="headline">
                                                    <a class="blog-article-title" itemprop="url" href="{{ path('blog_show', {'slug': article.slug}) }}">
                                                        {{ article.title }}
                                                    </a>
                                                </h2>
                                                <meta itemprop="mainEntityOfPage" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ path('blog_show', {'slug': article.slug}) }}">
                                                <meta itemprop="wordCount" content="266">
                                                <meta itemprop="keywords" content="">
                                                <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                      <meta itemprop="name" content="Fatima Benazzouz - Naturopathe">
                      <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                      </span>
                    </span>
                                                <div class="blog-article-subtitle">
                                                    <span itemprop="datePublished" content="2020-12-04T00:00:00+01:00"><i class="fa fa-calendar"></i> {{ article.createdAt|date('d/m/Y') }}</span>
                                                    <meta itemprop="dateModified" content="2020-12-04T19:17:27+01:00">
                                                    <span itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                                                        <i class="fa fa-user"></i>
                                                        <span itemprop="name">Fatima BENAZZOUZ - Naturopathe</span>
                                                    </span>
                                                    <!-- <span><i class="fa fa-comments"></i> 13 commentaires</span> -->
                                                </div>
                                            </div>
                                            <div class="blog-article-content">
                                                <div class="blog-article-desc">
                                                    <div itemprop="description">
                                                        {{ article.content|u.truncate(300, '...')|raw }}
                                                    </div>
                                                    <div class="read-more">
                                                        <a title="Les Céréales" itemprop="url" href="{{ path('blog_show', {'slug': article.slug}) }}">
                                                            Lire la suite...
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog-article-footer">
                                                <div class="blog-article-tags">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
