{% extends 'home/home.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.content|u.truncate(100, '...')|raw }}{% endblock %}

{% block body %}
    <div class="container-light sb-row sb-row-table sb-row-custom media-query" id="center">
        <div class="sb-col sb-col-sm" id="center_inner_wrapper">
            <div class="" id="blog-wrapper">
                <section id="center_inner">

                    <section id="blog-article-page" class="">
                        <div class="blog-article-page-content">
                            <article class="blog-article full" data-ajax-url="" itemscope="" itemtype="https://schema.org/Article" data-id="14496">
                                {% if article.image %}
                                        <meta itemprop="thumbnailUrl" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ vich_uploader_asset(article.image, 'imageFile') }}">
                                {% endif %}

                                <span class="article-cover" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                                    {% if article.image %}
                                        <meta itemprop="url" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ vich_uploader_asset(article.image, 'imageFile') }}">
                                    {% endif %}

                <meta itemprop="width" content="800">
                <meta itemprop="height" content="531">
              </span>
                                <div class="blog-article-head">
                                    <h1 itemprop="headline">
                                        <span class="blog-article-title">{{ article.title }}</span>
                                    </h1>
                                    <meta itemprop="wordCount" content="3404">
                                    <meta itemprop="keywords" content="">
                                    <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                  <meta itemprop="name" content="Marianne Cordier Derenne - Naturopathe">
                  <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                  </span>
                </span>
                                    <div class="blog-article-subtitle">
                                        <span itemprop="datePublished" content="2020-05-18T00:00:00+02:00"><i class="fa fa-calendar"></i> {{ article.createdAt|date('d/m/Y') }}</span>
                                        <meta itemprop="dateModified" content="2020-12-04T18:41:54+01:00">
                                        <span itemprop="author" itemscope="" itemtype="https://schema.org/Person"><i class="fa fa-user"></i> <span itemprop="name">Fatima Benazzou - Naturopathe</span></span>
                                        <!-- <span><i class="fa fa-comments"></i> 13 commentaires</span> -->
                                    </div>
                                </div>
                                <div class="blog-article-content" itemprop="articleBody" style="margin-top: 3rem;">
                                    {{ article.content|raw }}
                                </div>
                            </article>

                        </div>
                        <hr>

                    </section>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
