{% extends 'home/home.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for error in error_registration|default %}
        <div class="alert alert-danger">{{ error|trans({}, 'security') }}</div>
    {% endfor %}
<section class="container" style="display: flex; justify-content: center; align-content: center; margin-top: 7rem; margin-bottom: 3rem;">
    {{ form_start(form) }}
    <div class="sb-row media-query with-padding">
        <div class="sb-col sb-col-xs-4">
            <div class="sb-vi-form-group">
                {{ form_widget(form.fullName, {'attr': {
                    'class': 'sb-vi-form-input',
                    'placeholder': 'Nom complet'
                }}) }}
            </div>
        </div>
        <div class="sb-col sb-col-xs-4">
            <div class="sb-vi-form-group">
                {{ form_widget(form.email, {'attr': {
                    'class': 'sb-vi-form-input',
                    'placeholder': 'Email'
                }}) }}
            </div>
        </div>
        <div class="sb-col sb-col-xs-4">
            <div class="sb-vi-form-group">
                {{ form_widget(form.phone, {'attr': {
                    'class': 'sb-vi-form-input',
                    'placeholder': 'Téléphone'
                }}) }}
            </div>
        </div>
    </div>
    <div class="sb-vi-form-group">
        {{ form_widget(form.content, {'attr': {'placeholder': 'Dites-moi tout...', 'class': 'sb-vi-form-input'}}) }}
    </div>
    <div class="sb-vi-form-group">
        {{ form_widget(form.content, {'attr': {'placeholder': 'Avis', 'class': 'sb-vi-form-input'}}) }}
        {{ form_widget(form.captcha, {'attr': {
            'class': 'sb-vi-form-input',
            'style': 'margin-top: 2px',
            'placeholder': 'Captcha'
        }}) }}
    </div>

    <div class="element-link">
        <button type="submit" class="sb-vi-btn skin_1 pull-center">
            <span>Soumettre</span>
        </button>
    </div>
    {{ form_end(form) }}
</section>


{% endblock %}
