{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <section class="panel important">
        <h2>Bienvenue sur votre tableau de bord</h2>
        <ul>
            Vous pouvez réaliser ici différentes choses:
            <li>Gérer la liste de vos pratiques</li>
            <li>Gérer votre blog</li>
            <li>D'autres à venir ...</li>
        </ul>
    </section>

    {% if comments|length %}
        <section style="padding: 15px;">
            <div class="feedback success">Vous avez {{ comments|length }} nouveaux commentaire à valider</div>
        </section>
    {% endif %}


    {% if comments|length %}
        {% for comment in comments %}
            <section class="panel" id="{{ comment.id }}">
                <h2>{{ comment.nickname ?? comment.email }}</h2>
                <div class="feedback">
                    {{ comment.content|raw }}
                </div>
                <div class="onethird d-flex">
                    <div class="mt-auto">
                        <button class="js-validate btn-cs" data-id="{{ comment.id }}" data-type="">Valider</button>
                        <button class="js-validate btn-cs-danger" data-id="{{ comment.id }}" data-type="deleted">Supprimer</button>
                    </div>
                </div>
            </section>
        {% endfor %}

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('.js-validate').on('click', function (e){
               e.preventDefault();
               let id = $(this).data('id');
               let type = $(this).data('type');

                $.ajax({
                    url: Routing.generate('livre_or_update'),
                    type: 'POST',
                    data: {id, type},
                    success: function (data) {
                        if (!data.error) {
                            $('#'+id).fadeOut(300, function() {
                                $('#'+id).remove();
                            });
                        } else {
                            alert("une erreur c'est produite");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

