{% extends 'admin.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <section class="panel important">
        {% block _title %}
            <h2>Modifier {{ type|capitalize }}</h2>
        {% endblock %}

        {{ form_start(form) }}
        <div class="twothirds">
            {{ form_row(form.title, {'attr': {'placeholder': 'Nom'}}) }}

            {{ form_row(form.content, {'attr': {'rows': 8, 'cols': 40}}) }}
        </div>
        <div class="onethird d-flex">
            {{ form_row(form.image) }}

            <div class="mt-auto">
                <input type="submit" value="Soumettre" />
            </div>
        </div>
        {{ form_end(form) }}
    </section>

    {% if article.id %}
        <div>
            <div>
                {{ include('article/_delete_form.html.twig') }}
            </div>
            <div>
                <a class="btn btn-default" href="{{ path('article_index_'~type) }}">< Retour à la liste</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
